.cadastroWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  .cadastroLeftSide {
    background: rgb(170, 209, 253);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .cadastroLogoImg {
      width: 70%;
      max-width: 300px;
    }
  }

  .cadastroRightSide {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 25px;
      color: #000;
    }

    .cadastroForm {
      display: flex;
      flex-direction: column;

      label {
        font-family: 'Arial', sans-serif;
        font-weight: 300;
        margin-bottom: 5px;
      }

      input {
        margin-bottom: 15px;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background-color: #E5E5E5;
        outline: none;
        font-size: 15px;
        transition: 0.2s ease-in-out;
      }

      button {
         background: rgb(170, 209, 253); 
        color: white;
        border: none;
        border-radius: 8px;
        padding: 12px;
        font-size: 16px;
        cursor: pointer;
        font-weight: 600;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #4e91f5;
        }
      }
    }

    .cadastroLoginRedirect {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;

      a {
        color: #0073A6;
        text-decoration: none;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .cadastroWrapper {
    flex-direction: column;

    .cadastroLeftSide {
      height: 35vh;

      .cadastroLogoImg {
        width: 40%;
      }
    }

    .cadastroRightSide {
      height: 65vh;
      padding: 30px;
    }
  }
}
