
.btn-voltar {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #218838;
    transform: scale(1.03);
  }
}
